#perfil{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.card-group{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px;
	margin: 5px;
}
.card{
	height: auto;
	width: 250px;
	border: 1px solid silver;
}
.carousel-item{
	height: 350px;
	width: 1200px;
}
li{
	list-style: none;
}

li > img{
	width: 5rem;
	padding: 5px;
}
#cadastro{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}
.group1{
	display: grid;
	grid-template-rows: 50px 300px;
	gap: 1em;
}
.group{
	display: grid;
	grid-template-rows: 50px 200px;
	gap: 1em;
}
#imge{
	height: 200px;
	width: 200px;
	border-radius: 5%;
	object-fit: cover;
}
.pesq{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}
footer{
	margin-top: auto;
}
html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
div.col-4{
	display: grid;
	grid-template-rows: 50px 20px;
}
div.col-6{
	display: grid;
	grid-template-rows: 50px 200px;
}
#per{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}