#perfil{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
#container-card{
	position: relative;
	overflow: hidden;
}
.card-group{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 10px;
	justify-content: center;
	overflow: hidden;
	transition: transform 0.3s ease;
}
.card{	
	height: 300px;
	width: 100%;
	border: 1px solid silver;
}

li{
	list-style: none;
}

li > img{
	width: 5rem;
	padding: 5px;
}
#cadastro{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}
.group1{
	display: grid;
	grid-template-rows: 50px 300px;
	gap: 1em;
}
.group{
	display: grid;
	grid-template-rows: 50px 200px;
	gap: 1em;
}
.group2{
	display: grid;
	grid-template-rows: 50px 50px;
	gap: 1em;
}
#imge{
	height: 200px;
	width: 200px;
	border-radius: 5%;
	object-fit: cover;
}
.pesq{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
#info{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}
footer{
	margin-top: auto;
}
body {
    display: flex;
    flex-direction: column;
	margin: 0 auto;
	max-width: auto 100%;
}
html{
    min-height: 100%;
}
div.col-4{
	display: grid;
	grid-template-rows: 50px 20px;
}
div.col-6{
	display: grid;
	grid-template-rows: 50px 200px;
}
#per{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
