/* CSS NAV */
@media only screen and (max-height:10rem){
	nav{
		height: 8rem;
	}
}
#logo{
	height: 100px;
	width: auto;
	margin: 2px;
}
.btn-5 {
  width: 100px;
  height: 40px;
  padding: 0;
  border: none;
  color: #1173cd;
  background: transparent;
}
.btn-5:hover {
  color: #ffffff;
  background: transparent;
  box-shadow:none;
  border-bottom: 1px solid;
  border-radius: 0;
  transition: 200ms ease-out;
}
.input-search{
	min-width: 100px;
}
.btn-search{
	max-width: 50px;
}


/* CSS INDEX */
.card-group{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.card{
	width: 350px;
	max-width: 100%;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-fluid{
    max-width: 800px;          
    width: 100%;            
    height: auto;  
}
img{
	height: 200px;
	min-height: 150px;
}
@media only screen and (max-width:800px){
	img{
		width: 100%;
		height: 200px;
		object-fit: cover;
		position: top;
}
}

/* CSS VIEW DE NOTÃCIAS */
#grid-noticia{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: 800px 400px;
	margin: 10px;
}
.header-noticia{
	background-color: #ffffff;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-height:700px){
	#img-noticia{
		height: 500px;
		width: 100%;
	}
}
#div-autor{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: 10px;
	height: 100px;
	padding: 10px;
}
#img-autor{
	width: 150px;
	height: auto;
}

/* CSS PERFIL USER/ADM */
#painel-perfil{
	background: silver;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-columns: 210px auto;
}
#img-name{
	text-align: center;
}
#img-name > img{
	border-radius: 10px;
}
#banner{
	height: 200px;
	border-radius: 10px;
}
#edit-user{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
